<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/title', {class_name: 'article-title'}) %>
    <%- partial('post/category') %>
  </div>
<header class="article-header">
    <div class="author-image"></div>
    <div class="author-text">
        <% if (post.author){ %><div class="article-author"><%= post.author %></div><% } %>
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>    
    </div>
  </header>

  <div class="article-inner">
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <ul class="entry-share-icons">
      <li><a href="https://twitter.com/share?url=https://applewatchlove.com<%- url_for(post.path) %>" target="_blank" class="entry-share-twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://applewatchlove.com<%- url_for(post.path) %>" target="_blank" class="entry-share-facebook"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://plus.google.com/share?url=https://applewatchlove.com<%- url_for(post.path) %>" target="_blank" class="entry-share-google"><i class="fab fa-google-plus-g"></i></a></li>
      <li><a href="http://b.hatena.ne.jp/entry/https://applewatchlove.com<%- url_for(post.path) %>" target="_blank" class="entry-share-hatena">B!</a></li>
    </ul>
    <% if (!(post.excerpt && index)){ %>
      <%- partial('post/gallery') %>
    <% } %>

    <footer class="article-footer">
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">
          <i class="fa fa-comment"></i> Comments
        </a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>

</article>
<% if (!index){ %>
  <%- partial('post/nav') %>
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<div class="banners-wrap">
  <!-- AppleWatchLove -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9198003416420881"
      data-ad-slot="1871716613"
      data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

